*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}

.container{
    background-color:rgb(241, 185, 255);
    min-height: 100vh;
    border:10px solid black;
    border-left-width: 10px;
   
}
.content{
    max-width: 1300px;
    margin: 1px autos;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section{
    font-size:4ch;
    font-weight: bold;
    color:#1d1e4c;
}
.top_section h4{
    font-size:30px;
    text-align: end;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;

}
.image_container,img{
    width:300px;
    height:320;
}
.about_section{
    margin-top: 50px;
    padding:20px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left:20px;
}
.about_section p{
    font-size:20px;
    line-height:30px;
    letter-spacing:1.2px;
    text-align: justify;
}
footer{
    margin:50px 0;
}
footer{
    text-align: end;
}
